.list-item-thumbnail {
    max-height: 200px;
}

.list-item-background-1 {
    background-color: #E3008C;
}

.list-item-background-2 {
    background-color: #B4009E;
}

.list-item-background-3 {
    background-color: #5C005C;
}

.list-item-background-4 {
    background-color: #5C2D91;
}

.list-item-background-5 {
    background-color: #0078D7;
}

.list-item-background-6 {
    background-color: #E3008C;
}

.list-item-background-7 {
    background-color: #B4009E;
}

.list-item-background-8 {
    background-color: #5C005C;
}

.list-item-background-9 {
    background-color: #5C2D91;
}

.list-item-background-10 {
    background-color: #0078D7;
}

.list-item-background-11 {
    background-color: #E3008C;
}

.list-item-background-12 {
    background-color: #B4009E;
}

.list-item-background-13 {
    background-color: #5C005C;
}

.list-item-background-14 {
    background-color: #5C2D91;
}

.list-item-background-15 {
    background-color: #0078D7;
}

.list-item-background-16 {
    background-color: #E3008C;
}

.list-item-background-17 {
    background-color: #B4009E;
}

.list-item-background-18 {
    background-color: #5C005C;
}

.list-item-background-19 {
    background-color: #5C2D91;
}

.list-item-background-20 {
    background-color: #0078D7;
}
