@page "/cookie-policy"
<div class="content-container">
	<div class="container">
		<h3>Cookie Policy</h3>

		<p>Last Updated: December 2023</p>

		<h4>1. Introduction</h4>

		<p>This Cookie Policy explains how pgdevopstips ("we," "us," or "our") uses cookies on our website. By using our website, you agree to the use of cookies as described in this policy.</p>

		<h4>2. What Are Cookies?</h4>

		<p>Cookies are small text files that are placed on your device (computer, smartphone, tablet) when you visit a website. Cookies are widely used to make websites work efficiently, provide a better user experience, and gather information about how visitors use the website.</p>

		<h4>3. Types of Cookies We Use</h4>

		<p>We use two types of cookies on our website:</p>

		<ul>
			<li><b>Strictly Necessary Cookies:</b> These cookies are essential for the proper functioning of our website. They enable you to navigate our site and use its features, such as accessing secure areas. Without these cookies, some services may not be available.</li>
			<li><b>Google Analytics Cookies:</b> We use Google Analytics to collect information about how visitors use our website. This information helps us analyze website traffic, improve the user experience, and understand user preferences. The data collected by Google Analytics is anonymous and does not personally identify you.</li>
		</ul>

		<h4>4. How to Control Cookies</h4>

		<p>You can control and/or delete cookies as you wish. Most browsers allow you to manage cookies through their settings. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit www.allaboutcookies.org.</p>

		<p>Please note that if you choose to disable or delete certain cookies, some features of our website may not function properly, and your online experience may be limited.</p>

		<h4>5. Third-Party Cookies</h4>

		<p>We use the third-party service Google Analytics, which may also set cookies on your device. These cookies are not under our control, and we encourage you to review the privacy policies of these third-party services for more information about their cookie practices.</p>

		<h4>6. Changes to This Cookie Policy</h4>

		<p>We may update this Cookie Policy to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to check this page periodically for any updates.</p>

		<h4>7. Contact Us</h4>

		<p>If you have any questions or concerns about our use of cookies, please contact us at petergregg@twogsdev.onmicrosoft.com.</p>

		<p>By continuing to use our website, you agree to the use of cookies as described in this policy.</p>
	</div>
</div>
@code {

}
