@page "/"

<PageTitle>Development and operational tips | Peter Gregg</PageTitle>

<HeadContent>
    <meta name="description" content="Find, read, download all of Peter Greggs online Articles, Resources, GitHubs, Katas, Videos, Demos, Speaking Information, Talks, Slides in one place">
</HeadContent>

<HeaderComponent H1="Hi, I am Peter Gregg"
                 Line1="I am a lead software architect and an advocate of clean architecture/code."
                 Line2="I lead the architecture development of Desktop, Web and Microsoft Azure applications."
                 Line3="I am based in Liverpool, UK." />

<div class="container-fluid list-item-background-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    <a href="articles">Articles</a>
                </h2>
                <p>A place where I share topics in blog articles about technical things I have found useful and hope you will too.</p>
                <p>Everytime I learn something new, I will share it here.</p>
                <a class="btn btn-light" href="articles">Learn more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4">
                <img src="/images/computersourcecode.jpg" class="img-fluid d-none d-lg-block" alt="Picture of articles">
            </div>
        </div>
    </div>
</div>
